.App {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  width: 357px;
  align-items: center;
  margin: 10px auto;
  letter-spacing: .1rem;
}

#company-name {
  width: 50px;
  margin: 0 80px 0 120px;
  font-weight: 100;
  font-size: 15px;
}

.burger {
  display: flex;
  outline: none;
  height: 20px;
  width: 15px;
  border: 0px;
  padding: 0px;
  background: transparent;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger:before, .burger:after {
  content: '';
  width: 25px;
  height: 2px;
  position: absolute;
  background: black;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

#loupe {
  width: 20px;
  margin-right: 20px;
}

#cart-display {
  font-size: 12px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}